<html>
<head>
    <meta charset="UTF-8">
    <title>Подтверждение почты</title>
</head>
<body>
<h1>Подтверждение регистрации  на платформе Ticket Seller </h1>
<br>
<p>{{fullName}},</p>
<p>Недавно вы зарегистрировались  на платформе Ticket Seller !</p>
<p>Для завершении регистрации вам необходимо подтвердить свою электронную почту, перейдя по ссылке:</p>
<br>
<a href="{{{verificationLink}}}">Подтвердить почту</a>
<br>
<p>Если вы не регистрировались на платформе, то можете проигнорировать данное сообщение</p>
</body>
</html>